@import url("https://fonts.googleapis.com/css2?family=Libre Baskerville:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

.row_poster{
     width: 100%;
    object-fit: contain;
  max-height: 100px;
    transition: transform 450ms;
     margin-right: 10px;
    
}
.row_posters{
     display: flex;
      overflow-y: hidden;
     overflow-x: scroll;
     padding: 20px;

}
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster:hover{
    transform: scale(1.08);
}
.row_posterLarge{
    max-height: 250px;
}
.row_posterLarge:hover{
    transform: scale(1.09);
}
.row{
     font-family: "Libre Baskerville";
    margin-left: 20px;
    color: white;
}