@import url('https://fonts.googleapis.com/css2?family=Libre Baskerville:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20,20,20);
    /* background-color: transparent; */
    height: 10vh;
    color:white;
   
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: red;  */
}
/* .nav_black{
    background-color: rgb(20,20,20);
} */
.header_container{
     width: 90%;
     /* background-color: yellow; */
     display: flex;
   justify-content: space-between;
    align-items: center; 
    
}

.header_left ul{
    
     width: 140%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer; 
    font-family: "Libre Baskerville";
   
}
.header_right ul{
     width: 140%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer; 
   
}

